<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>ZR Management</title>
	</head>
	<body>
		<div class="nav" class="flex-container">
			<%- include('./partials/_navbar.ejs') %>
		  </div>
		<div class="aside" class="flex-container">
			<h1>Sign up or Sign in to continue</h1>
		</div>
		<div class="main" class="flex-container">
			<h1>Welcome to ZR Management!</h1>
			<p>
				A safe and secure system for managing all of your employee information!
			</p>
			<section class="container">
				<div class="slider-wrapper">
					<div class="slider">
						<img id="slide-1" src="https://plus.unsplash.com/premium_photo-1661725357418-fb09ff7c0aae?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b2ZmaWNlJTIwd29ya2VyfGVufDB8fDB8fHww" alt="image of office employees">
						<img id="slide-2" src="https://cdn-res.keymedia.com/cms/images/ca/126/0379_638098265189865632.jpg" alt="employees in a meeting">
						<img  id="slide-3" src="https://www.shrm.org/executive-network/insights/ceos-want-employees-back-office/_jcr_content/_cq_featuredimage.coreimg.jpeg/1702833993231/en-rto-executives-g0b92r.jpeg" alt="employees going over a document">
					</div>
					<div class="slider-nav">
						<a href="#slide-1"></a>
						<a href="#slide-2"></a>
						<a href="#slide-3"></a>
					</div>
				</div>
			</section>	
		</div>
	</body>
</html>
